<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COURSES - STUDENTS</title>
    <!-- Bootstrap CSS (you can replace it with your own CSS or link to Bootstrap CDN) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Your custom CSS file -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- Bootstrap JS (optional, add if needed) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">
    <link rel="manifest" href="/assets/img/site.webmanifest">
    <link rel="mask-icon" href="/assets/img/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
<!-- HEADER SECTION -->
<div th:replace="~{header :: header}"></div>

<div class="site-section">
    <div class="container">
        <div class="row mb-4">
            <div class="col-md-12">

                <div class="overview-wrap">
                    <h3 class="mt-4 mb-3" th:text="${courses.name} + ' Course Students Details'"></h3>
                    <button class="btn btn-info" type="button" data-toggle="modal" data-target="#addStudent">ADD STUDENT</button>
                    <li class="alert alert-danger mt-3" role="alert" th:if="${!#strings.isEmpty(errorMessage)}" th:text="${errorMessage}" />
                </div>
            </div>
        </div>
        <div class="modal fade login-block" id="addStudent" tabindex="-1" role="dialog" aria-labelledby="addStudentModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header border-bottom-0">
                        <h5 class="modal-title" id="addStudentModalLabel">Add Student to Course</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form th:action="@{/admin/addStudentToCourse}" method="post" class="signin-form" th:object="${person}">
                        <div class="modal-body">
                            <div class="input-grids">
                                <label class="control-label" for="email">Student Email </label>
                                <input type="email" class="form-control" name="email" id="email" th:field="*{email}" required placeholder="Enter Student email">
                            </div>
                        </div>
                        <div class="modal-footer border-top-0 d-flex justify-content-center">
                            <button type="submit" class="btn btn-info">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Mobile Num</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="person: ${courses.persons}">
                <td th:text="${person.name}"></td>
                <td th:text="${person.email}"></td>
                <td th:text="${person.mobileNumber}"></td>
                <td><a th:href="@{/admin/deleteStudentFromCourse(personId=${person.personId})}" class="btn btn-warning">DELETE</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-2 mb-3 mt-3">
        <a th:href="@{/admin/displayCourses}">
            <button class="btn btn-info">BACK</button>
        </a>
    </div>
   </div>
</div>


<!-- FOOTER SECTION -->
<div th:replace="~{footer :: footer}"></div>

</body>
</html>