<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ADMIN - CLASSES</title>
  <!-- Bootstrap CSS (you can replace it with your own CSS or link to Bootstrap CDN) -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/style.css">
  <!-- Bootstrap JS (optional, add if needed) -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">
  <link rel="manifest" href="/assets/img/site.webmanifest">
  <link rel="mask-icon" href="/assets/img/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
</head>

<body>

<!-- HEADER SECTION -->
<div th:replace="~{header :: header}"></div>

<div class="site-section">
  <div class="container">

    <div class="row mb-4">
      <div class="col-md-12">
        <h3 class="custom-font mt-3" th:text="${person.name} + ' Enrolled Courses'"></h3>
      </div>
    </div>
   <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Course ID</th>
        <th scope="col">Course Name</th>
        <th scope="col">Fees</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="course: ${person.courses}">
        <td th:text="${course.courseId}"></td>
        <td th:text="${course.name}"></td>
        <td th:text="${course.fees}"></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-2 mt-3 mb-3">
    <a th:href="@{/dashboard}">
      <button class="btn btn-info">BACK</button>
    </a>
  </div>
 </div>
</div>

<!-- FOOTER SECTION -->
<div th:replace="~{footer :: footer}"></div>
</body>
</html>