<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>

</head>
<body>
<!-- HEADER SECTION -->
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand custom-font" th:href="@{/home}">Vector Vision <span class="text-primary custom-font">Institute</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active" sec:authorize="isAnonymous()">
                    <a class="nav-link custom-font" th:href="@{/home}">Home</a>
                </li>
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link custom-font" th:href="@{/courses}">Courses</a>
                </li>
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link custom-font" th:href="@{/contact}">Contact</a>
                </li>
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link custom-font" th:href="@{/login}">LogIn</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link custom-font" th:href="@{/dashboard}">Dashboard</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link custom-font" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

</body>
</html>