<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VVI - Profile</title>
    <!-- Bootstrap CSS (you can replace it with your own CSS or link to Bootstrap CDN) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Your custom CSS file -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- Bootstrap JS (optional, add if needed) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">
    <link rel="manifest" href="/assets/img/site.webmanifest">
    <link rel="mask-icon" href="/assets/img/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

</head>
<body>
<!-- HEADER SECTION -->
<div th:replace="~{header :: header}"></div>

<!-- PROFILE SECTION -->
<section class="site-section" id="contact">
    <div class="container py-md-5 py-4">
        <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:500px;">
            <h3 class="custom-font display-4 font-weight-bold">My Profile</h3>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-7">
                <ul>
                    <li class="alert alert-danger" role="alert" th:each="error : ${#fields.errors('profile.*')}" th:text="${error}" />
                </ul>
                <form th:action="@{/updateProfile}" method="post" class="signin-form" th:object="${profile}">
                    <!-- Personal Details -->
                    <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:500px;">
                        <h5 class="custom-font display-7 font-weight-bold mb-2">Personal Details</h5>
                    </div>
                    <div class="input-grids">
                        <div class="form-group">
                            <label class="control-label" for="name">Name:</label>
                            <input type="text" th:field="*{name}" id="name" class="form-control contact-input" />
                        </div>
                        <div class="form-row">
                            <div class="col-sm-6">
                                <label class="control-label" for="mobileNumber">Mobile Number:</label>
                                <input type="text" th:field="*{mobileNumber}" id="mobileNumber" class="form-control contact-input" />
                            </div>
                            <div class="col-sm-6">
                                <label class="control-label" for="email">Email:</label>
                                <input type="text" th:field="*{email}" id="email" class="form-control contact-input" />
                            </div>
                        </div>
                    </div>

                    <!-- Address Details -->
                    <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:500px;">
                        <h5 class="custom-font display-7 font-weight-bold mt-4">Address Details</h5>
                    </div>
                    <div class="input-grids">
                        <div class="form-group">
                            <label class="control-label" for="address1">Address Line 1:</label>
                            <input type="text" th:field="*{address1}" id="address1" class="form-control contact-input" />
                        </div>
                        <div class="form-group">
                            <label for="address2">Address Line 2:</label>
                            <input type="text" th:field="*{address2}" id="address2" class="form-control contact-input" />
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="city">City:</label>
                            <input type="text" th:field="*{city}" id="city" class="form-control contact-input" />
                        </div>
                        <div class="form-row">
                            <div class="col-sm-6">
                                <label class="control-label" for="state">State:</label>
                                <input type="text" th:field="*{state}" id="state" class="form-control contact-input" />
                            </div>
                            <div class="col-sm-6">
                                <label class="control-label" for="zipCode">Zip Code:</label>
                                <input type="text" th:field="*{zipCode}" id="zipCode" class="form-control contact-input" />
                            </div>
                        </div>
                    </div>

                    <!-- Update and Back Buttons -->
                    <div class="col-md-8 login-center text-start">
                        <button class="btn btn-info mt-4">Update</button>
                        <a th:href="@{/dashboard}" class="new-user text-right">
                            <button class="btn btn-info mt-4" th:formaction="@{/dashboard}">BACK</button>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- //PROFILE SECTION -->


<!-- FOOTER SECTION -->
<div th:replace="~{footer :: footer}"></div>

<!-- move top -->
<button onclick="topFunction()" id="movetop" title="Go to top" class="btn btn-scroll-custom" style="position: fixed; bottom: 10px; right: 10px; display: none;">
    🡹
</button>
<script>
    // When the user scrolls, check the scroll position to determine whether to show or hide the button
    window.onscroll = function () {
        scrollFunction();
    };

    function scrollFunction() {
        // Get the move top button element
        var moveTopButton = document.getElementById("movetop");

        // If the user has scrolled down at least 20 pixels, show the button; otherwise, hide it
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            moveTopButton.style.display = "block";
        } else {
            moveTopButton.style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>
<!-- //move top -->

</body>
</html>