@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');


/* CSS */
body {
    background-color: #f5f5f5;
    min-height: 100vh; /* Ensure at least viewport height */
    display: flex;
    flex-direction: column;
}

/* Define a class for the new font */
.custom-font {
    font-family: 'Libre Baskerville', serif;
}

main {
    flex: 1; /* Allow main content to grow and push the footer down */
}

footer {
    margin-top: auto; /* Push the footer to the bottom */
}

.banner {
    position: relative;
    text-align: center;
}

.banner-image {
    width: 100%;

}

.banner-text {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: #fff; /* White text color for better readability */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* horizontal-offset vertical-offset blur-radius color */
    z-index: 2;
}

.banner-text h1 {
    font-size: 4em; /* Adjust the font size as needed */
    font-weight: bold;
    margin-bottom: 10px;
}

.banner-text p {
    font-size: 2.5em; /* Adjust the font size as needed */
    font-weight: bold;
    margin: 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .banner-text h1 {
        font-size: 1.5em;
    }

    .banner-text p {
        font-size: 0.7em;
    }
}

#courses {
    margin-top: 50px;
}

.rounded-image {
    border-radius: 15px; /* Adjust the border-radius as needed */
    overflow: hidden;
}

/*Choose-Us section*/
.choose-us-item {
    position: relative;
    overflow: hidden;
}

.choose-us-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff; /* Adjust the color as needed */
    padding: 20px; /* Adjust the padding as needed */
    background: rgba(0, 0, 0, 0.7);
}

/* Responsive styles for smaller screens */
@media (max-width: 767px) {
    .choose-us-text {
        font-size: 12px;
        padding: 10px;
    }

    .choose-us-text h3{
        font-size: 18px;
    }
}

/* Responsive styles for larger screens */
@media (min-width: 768px) and (max-width: 991px) {
    .choose-us-text {
        font-size: 16px;
        padding: 15px;
    }

    .choose-us-text h3 {
        font-size: 24px;
    }
}
/*Choose-Us section end*/


/*custom button*/
.btn-primary-custom {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    outline: 0;
    border: 0;
    cursor: pointer;
    will-change: box-shadow, transform;
    background: radial-gradient(100% 100% at 100% 0%, #89E5FF 0%, #5468FF 100%);
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px rgb(58 65 111 / 50%);
    padding: 0 32px;
    border-radius: 6px;
    color: #fff;
    height: 48px;
    font-size: 18px;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    transition: box-shadow 0.15s ease, transform 0.15s ease;
}

.btn-primary-custom:hover {
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #3c4fe0;
    transform: translateY(-2px);
}

.btn-primary-custom:active {
    box-shadow: inset 0px 3px 7px #3c4fe0;
    transform: translateY(2px);
}

/* custom button scroll up*/
.btn-scroll-custom {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    outline: 0;
    border: 0;
    cursor: pointer;
    will-change: box-shadow, transform;
    background: radial-gradient(100% 100% at 100% 0%, #89E5FF 0%, #5468FF 100%);
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px rgb(58 65 111 / 50%);
    border-radius: 25px;
    color: #fff;
    height: 37px;
    font-size: 13px;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    transition: box-shadow 0.15s ease, transform 0.15s ease;
}

.btn-scroll-custom:hover {
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #3c4fe0;
    transform: translateY(-2px);
    color: #fff;
}

.btn-scroll-custom:active {
    box-shadow: inset 0px 3px 7px #3c4fe0;
    transform: translateY(2px);
}


.custom-box {
    background: linear-gradient(90deg, #ADD8E6, #90EE90); /* Adjust colors as needed */
    border-radius: 10px;
}

.custom-box a {
    text-decoration: none;
}

.custom-box:hover {
    opacity: 0.9; /* Adjust the opacity on hover as needed */
}

.blur-image{
    filter: blur(2px);
}

/*Display mandatory fields*/
.control-label:after{
    content:"*";
    color: red;
}

.table-responsive-class{
    margin: auto;
    width: 50% !important;
}

.control-label:after{
    content:"*";
    color: red;
}

.close:not(:disabled):not(.disabled){
    cursor: pointer;
}
.modal-header .close{
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;
}

button.close{
    padding:0;
    background-color: transparent;
    border:0;
    -webkit-appearance: none;
}

.close{
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

/*Messages Table Pagination*/
table.dataTable > thead > tr > th:not(.sorting_disabled),
table.dataTable > thead > tr > td:not(.sorting_disabled) {
    padding-right: 30px;
}
table.dataTable > thead .sorting,
table.dataTable > thead .sorting_asc,
table.dataTable > thead .sorting_desc,
table.dataTable > thead .sorting_asc_disabled,
table.dataTable > thead .sorting_desc_disabled {
    cursor: pointer;
    position: relative;
}
table.dataTable > thead .sorting:before, table.dataTable > thead .sorting:after,
table.dataTable > thead .sorting_asc:before,
table.dataTable > thead .sorting_asc:after,
table.dataTable > thead .sorting_desc:before,
table.dataTable > thead .sorting_desc:after,
table.dataTable > thead .sorting_asc_disabled:before,
table.dataTable > thead .sorting_asc_disabled:after,
table.dataTable > thead .sorting_desc_disabled:before,
table.dataTable > thead .sorting_desc_disabled:after {
    position: absolute;
    bottom: 0.5em;
    display: block;
    opacity: 0.3;
}
table.dataTable > thead .sorting:before,
table.dataTable > thead .sorting_asc:before,
table.dataTable > thead .sorting_desc:before,
table.dataTable > thead .sorting_asc_disabled:before,
table.dataTable > thead .sorting_desc_disabled:before {
    right: 1em;
    content: "↑";
}
table.dataTable > thead .sorting:after,
table.dataTable > thead .sorting_asc:after,
table.dataTable > thead .sorting_desc:after,
table.dataTable > thead .sorting_asc_disabled:after,
table.dataTable > thead .sorting_desc_disabled:after {
    right: 0.5em;
    content: "↓";
}
table.dataTable > thead .sorting_asc:before,
table.dataTable > thead .sorting_desc:after {
    opacity: 1;
}
table.dataTable > thead .sorting_asc_disabled:before,
table.dataTable > thead .sorting_desc_disabled:after {
    opacity: 0;
}

th > a {
    color: #fff;
    text-decoration: underline;
    background-color: transparent;
}

th > a:hover {
    color: #fbb034;
    text-decoration: underline;
}

.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
}


.page-link {
    position: relative;
    display: block;
    color: #0d6efd;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dee2e6;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .page-link {
        transition: none;
    }
}

/*Pagination custom colors*/
.pagination .page-item .active {
    background-color: #007bff;
    color: #fff;
}

/*Contact Page Text*/
.custom-effect {
    font-size: 60px;
    text-transform: uppercase;
    font-family: 'Gambetta', serif;
    letter-spacing: -3px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    margin-bottom: 0.8rem;
    color: #ffffff;
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
    outline: none;
    text-align: center;
}

.custom-effect:hover {
    font-variation-settings: "wght" 582;
    letter-spacing: 1px;
}